@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
body{
    font-family: Arial, Noto Sans TC, sans-serif;
    font-size: 14pt;
    padding-top: 60px;
    
}
.navbar{
    padding: 0;
    background-color: #81D8D0;
}
.nav-link{
    color: #000;
    font-weight: bolder;
    font-size: x-large;
}
#content{
    margin-top: 10px;
}
#last-data{
    height: 70px;
    background-color: #81D8D0;
    padding-top: 10px;
}
#video-background{
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
}
.img{
    width: 100%;
    height: 100%;
}
.card-title{
    color: rgb(0, 145, 96);
    font-size: 100pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    margin-top: 80px;
}
.card-text{
    color: rgb(0, 145, 96);
    font-size: 100pt;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card1{
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
}
.card1 a:hover{
    text-decoration:none;
   
}


@media (orientation:portrait) {
    .card-title{
        font-size: 30pt;
        margin: 0;
    }
    .card-text{
        font-size: 20pt;
    }
    .card1{
        margin-top: -60px;
    }
}